/* old css here */
*{margin: 0;padding: 0; font-size:1em}
body{background-color:#ffffff;color:#333333;font-family:Helvetica,sans-serif}
input,textarea{font-family:Helvetica,sans-serif;border:1px solid #333;background: #fff;font-size:.7em}
ul{list-style:none}
a{font-weight:normal;color:#F5872C;text-decoration:none}
.stat, .set td, .setting, li{border-top:1px solid #FEDCC1}
.stat{border-bottom:1px solid #FEDCC1}
.setting, li{padding:3px 0}
li.basic{border:0;list-style:none;padding:0}
p{font-weight:normal}
.l{text-align:center;background-color:#efefef;padding:1px 0}
.r{background-color:#FEF5E3}
.t{border:1px solid #eee}
.b{font-weight:bold}
.s{width:150px}
.o{font-weight:normal;font-size:0.7em}
.o a{border:1px solid #eee; font-weight:bold;width:20px;width:20px;padding:1px 4px;color:#888;margin-right:2px;background-color:#fff}
.f{background-color:#eee;font-weight:bold;color:#000;border: 2px dashed #ccc;padding:5px}
.fe{border:0;list-style:disc;margin-left:10px;padding-left:5px}
.fe li{border:0;font-weight:normal;margin-left:5px}
.fe li ul li {margin-left:10px; list-style: circle}
.i{text-align:right;display:block;margin-right:5px;font-size:.7em}
.il{text-align:left;display:block;margin-left:5px}
.ab{display:block;border-top:1px solid #FEDCC1;padding-top:5px;margin-top:5px}
.sm{}
.pp{width:48px;text-align:center}
.sn{color:#aaa;font-weight:normal}
.bt{border-top:1px solid #FEDCC1;padding:6px 0 0 0;font-size:.6em}
.cen{text-align:center}
table{border:0;width:100%; border-collapse: collapse}
.set .hed{border-top:1px solid #ccc;padding-top:10px}
.set td{vertical-align:middle}
.set .las{padding-top:20px}
.tpp{width:30px;text-align:center}
td{vertical-align:top}
h1{font-size:1.2em}
h2{background-color:#F5872C;color:#fff;padding:2px 2px;font-size:1.1em}
h3{display:inline; font-size:.85em}
h2 a{color:#fff;font-weight:bold}
h4{padding-top: 5px;padding-bottom:5px}
h5{font-size:1em}
small{color:#aaa}
#content{padding:3px 0px}
table small{color:#333}
#pr{padding:5px;border-top:1px solid #FEDCC1;margin-top:3px;font-size:.8em}
#pr img{padding-right:5px}
#pr div{clear:both}
#pr .n{;font-weight:bold;padding:0;margin:0}
.upd{background:#eee;border-top:1px solid #ccc;border-bottom:1px solid #ccc;;padding:2px 4px;margin-top:3px;margin-bottom:3px}
ul li ul {border:0;list-style:disc}
ul li ul li {border:0;list-style:disc;margin-left:15px}
.ta{width:98%;height:35px; font-family:Helvetica,sans-serif}
#chars{padding-top:2px; padding-bottom:2px}
tr th {text-align:left}
.en{text-align:center}
.av{width:32px; height:32px;margin-right:5px}
.tl li {clear:both;margin-bottom:1px;padding-bottom:3px}
.tl li{padding:0 0 0 3px}
.tl p{font-size:.8em}
.tl h3{padding-right:3px}
#chars.over{font-weight:bold;color:#ff0000}
#s.over{border-color:#ff0000}
.tl li.res{border-top: 2px dashed #F5872C}
.hide{display:none}
.don{border:0}
.menu a, .bt a{padding: 0 5px; border-right: 1px solid #000}
.bt a{padding: 0 3px 0 1px}
ol{padding-left:5px; list-style-position: inside}
b.h{display:block;margin-top:8px}
.o .rt {border: 0; color: #F5872C; margin: 0; padding: 0}
.help{margin: 10px 0}
.setting {padding:10px 0}
.set {width:240px}
.set td.en {width: 20px;text-align:center}
.sa{padding:3px;font-weight:bold}
small{font-size:.8em;padding-left:2px}
.p{margin:0 5px}
.setting h1{font-size:1.3em}
ol.help li.basic{padding: 3px 0}
.help h3, .help h4,.help h5{display:block}
.help h3{font-size:1em}
.help h4{font-size:.95em}
.help h5{font-size:.9em}
ul.tl{margin-top:2px}
.tbtn{float:left;margin-top:2px; margin-right: 5px}
.sbh{display:block;margin-top:10px}
.ad img,li.ad img{border:0}
.ad br{height:1px; display:inline;float:left}
.tl li.ad{padding:0}
.ad{padding:0; clear:both}
p.login{background:#eee;padding:10px 0;margin:5px 0}
#loc_cont{margin-left:10px;display:none}
#loc_msg{padding-left:3px;font-size:0.8em}
.stat{font-size:1em;padding:10px 0px}